#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.App {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem; 
}

.header {
  height: 110px;
  background: #b86b86;
  padding-top: 28px;
}

.logo-simpsons {
  width: 150px;
}

body {
  background: #e8a39f;
}
